mochatest/node_modules
React/ReduxSimpleStarter/node_modules
React/ReduxSimpleStarter/bundle.js
React/ReduxSimpleStarter/npm-debug.log
React/ReduxSimpleStarter/.DS_Store

# IntelliJ
React/ReduxSimpleStarter/*.iml
React/ReduxSimpleStarter/.idea
